/* In index.css or global styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'aos/dist/aos.css';
